.container {
    width: full;
    display: flex;
    justify-content: end;
    margin-bottom: 50px;
}

.about {
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    border-style: groove;
        border-width: 4px;
}

.home {
    color: white;
    border-style: groove;
        border-width: 4px;
}

.favorites{
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    border-style:groove;
    border-width: 4px;
}